[defaults]
host_key_checking = False
inventory = inventory.yml
roles_path = roles
collections_path = collections
stdout_callback = default
callback_result_format = yaml
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout = 86400
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
control_path = .ansible_cp/%%h-%%p-%%r
